<toast [toastConfig]="toastConfig" />
<div class="flex flex-col justify-center gap-2 items-center h-full w-[100%]">
  <div class="w-full flex justify-between items-center p-4 bg-slate-700">
    <h1 class="text-slate-300 font-bold">Comissoes Franqueados</h1>
    <button class="text-white" (click)="fecharComissao()">close</button>
  </div>

  <!--   <button
    class="bg-indigo-500 mt-4 text-white w-96 font-bold h-12 rounded-lg hover:bg-indigo-800"
  >
    Adicionar Comissão
  </button> -->
  <div class="w-[96%] h-[90%] dark:bg-slate-700 rounded-lg mt-4">
    <form
      [formGroup]="comissaoForm"
      (ngSubmit)="cadastrarNovaComissao()"
      class="flex gap-2 p-2"
    >
      <div class="flex w-[50%] flex-col p-2 gap-2">
        <label class="dark:text-white font-bold">Nome</label>
        <span
          class="flex p-2 items-center h-12 dark:text-slate-400 font-bold rounded-lg dark:bg-slate-600 dark:border-none border-[1px] border-slate-500"
        >
          {{ PropsItemFranquia?.sNome }}
        </span>
        <label class="dark:text-white font-bold">Email</label>

        <span
          class="flex p-2 items-center h-12 dark:text-slate-400 font-bold rounded-lg dark:bg-slate-600 dark:border-none border-[1px] border-slate-500"
        >
          {{ PropsItemFranquia?.sEmail }}
        </span>
        <label class="dark:text-white font-bold">Data de Abertura</label>
        <span
          class="flex p-2 items-center h-12 dark:text-slate-400 font-bold rounded-lg dark:bg-slate-600 dark:border-none border-[1px] border-slate-500"
        >
          {{ PropsItemFranquia?.dtDataHoraCadastro }}
        </span>
        <label class="dark:text-white font-bold"> LinkFranquia </label>
        <span
          class="flex p-2 items-center h-12 dark:text-slate-400 font-bold rounded-lg dark:bg-slate-600 dark:border-none border-[1px] border-slate-500"
        >
          {{ PropsItemFranquia?.sLinkFranquia }}
        </span>
      </div>
      <div class="flex flex-col w-[50%] gap-2 p-2">
        <label class="dark:text-white font-bold">
          Definir Nova Comissão %
        </label>
        <input
          formControlName="percentual"
          type="number"
          class="h-12 p-2 pr-4 rounded-lg dark:bg-slate-600 dark:border-none border-[1px] border-slate-500"
        />
        <button
          class="bg-indigo-500 mt-12 ml-32 text-white w-[50%] font-bold h-12 rounded-lg hover:bg-indigo-800"
        >
          salvar
        </button>
      </div>
    </form>

    <div class="mt-2 p-4">
      <span class="text-slate-400 font-semibold p-2"> Lista de Comissões</span>
      <div class="relative overflow-hidden shadow-md rounded-lg">
        <table class="table-fixed w-full text-left">
          <thead
            class="uppercase bg-[#35373b] text-[#e5e7eb]"
            style="background-color: rgb(30 41 59); color: #e5e7eb"
          >
            <tr>
              <td class="py-1 text-center p-4" contenteditable="true">
                ComissaoID
              </td>
              <td class="py-1 text-center p-4" contenteditable="true">
                Percentual
              </td>
              <td class="py-1 text-center p-4" contenteditable="true">
                Data Cadastro
              </td>
            </tr>
          </thead>
          <tbody
            class="text-gray-500 bg-[#545252]"
            style="background-color: rgb(71 85 105); color: #dedede"
          >
            <tr *ngFor="let comissao of comissoesFranqueados">
              <td class="">{{ comissao.iComissaoID }}</td>
              <td class="">{{ comissao.nPercentualComissao }}%</td>
              <td class="border px-4 py-2">{{ comissao.dtDataHora }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
